body {
    font-family: sans-serif;
    background-color: #33FFB8;
    /*margin-top: 75px;*/
}

.header {
    text-align: center;
    height: 100px;
    background-color: #33A8FF;
    border-radius: 3px;
    border-color: white;
    margin: auto;
}

.headername { 
    font-family: Verdana;
    color: black;
    text-align: center; 
    font-size: 50px;
}

.underheader {
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    color: black;
    
}

.centertext-bigbold{
    font-size: 600%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

