body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

div {
    text-align: center;
    height: 20px;
    color: #33FCFF;
    /*border: 10px solid white;*/
}

.header { 
        font-family: Verdana;
        color: black;
        text-align: center;
}

.centertext-bigbold{
    font-size: 600%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

