body {
    font-family: sans-serif;
    background-color: white;
    /*margin-top: 75px;*/
}

.underheader:hover {
    font-size: 60px;
    color: #FFFF33;
    text-decoration: underline;
    
}

.header {
    text-align: center;
    height: 100px;
    background-color: #33FFB8;
    border-color: white;
    /*margin: auto;*/
}

.headername { 
    font-family: Verdana;
    color: black;
    text-align: center; 
    font-size: 100px;
}

.underheader {
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
    color: black;
    display: block;
    
}

.centertext-bigbold{
    font-size: 600%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

